<style>

body{
  background-color: black
  background-size: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 25%;
}

#Inisesion{
margin-left: 20%;
margin-right: 20%;
margin-bottom: 10%;
}

.WakeUp{
        font-family: "Bebas Neue", sans-serif;
        background-color: black
        font-weight: 400;
        font-style: normal;
      }

footer{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}


</style>