<style>

body{
  background-color: black
  background-size: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 25%;
}

#cuadrado{
  background-color: black;
  border-style: solid;
  padding: 40px;
  background-image: url(imagen/Cover.png);
  background-size: 130%;
}

.WakeUp{
        font-family: "Bebas Neue", sans-serif;
        background-image: ;
        font-weight: 400;
        font-style: normal;
      }

footer{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}


</style>
